[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "scDHA"]
	path = scDHA
	url = https://github.com/duct317/scdha
	shallow = true
	registered = true
[submodule "SCFA"]
	path = SCFA
	url = https://github.com/duct317/scfa
	shallow = true
	registered = true
[submodule "scISR"]
	path = scISR
	url = https://github.com/duct317/scisr
	shallow = true
	registered = true
